html, body {
    overflow-x: hidden; 
    margin: 0;
    padding: 0;
  }
  
  html.no-scroll, body.no-scroll {
    overflow: hidden; 
  }

.container {
    position: relative;
  }
  
  .hamburgerWrapper {
    position: relative;
    z-index: 1001; 
  }

  .overlay {
    position: fixed;
    top: 0;
    right: -110%;
    width: 100vw; 
    height: 100vh; 
    background-color: rgba(42, 47, 211, 0.92);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: right 0.3s ease; 
    z-index: 1000;
    overflow: hidden; 
  }
  
  .overlay.open {
    right: 0;  
  }
  
  .nav {
    text-align: center;
  }
  
  .nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav ul li {
    padding: 20px 0;
  }
  
  .nav ul li a {
    color: white;
    font-size: 24px;
    text-decoration: none;
    display: block;
  }
  
  .nav ul li a:hover {
    background-color: #444;
  }
  

@media (min-width: 992px) {
    .container {
        display: none;
    }
}