/* FlightSearchPanel.module.css */
.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 2px 15px #6464;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 2rem;
  background-color: #fff;
  color: #000;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
}

.inputNumber {
  width: 100%;
}

.label {
  font-size: 16px;
}

.input {
  padding: 8px;
  font-size: 16px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 39px;
  width: 100%;
}

.button {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
}

@media (min-width: 992px) {
  .form {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      margin: 2rem 0;
  }

  .inputWrapper {
      width: 100%;
  }

  .inputWrapper:first-child {
    flex: 1.5; /* 'City' zachowuje większą szerokość */
  }

  .inputWrapper:nth-child(2) {
    flex: 1.5;
  }

  
  .inputWrapper:nth-child(3),
  .inputWrapper:nth-child(4) {
    flex: 2; /* 'Check in' i 'Check out' są mniejsze */
  }

  
  .inputWrapper:nth-child(5) {
    flex: 0.5; /* 'Guests' i 'Rooms' są najmniejsze */
  }

  .btn {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      margin: 5px;
      min-width: 80px;
      margin: 5px 0;
  }
}
