.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
    /* gap: 10px; Odstęp między ikoną a tekstem */
  }
  
  .icon {
    font-size: 4rem;
    color: #007bff;
    text-align: right;
    margin-right: 20px;
  }
  
  .title {
    font-size: 4rem;
    font-weight: bold;
    color: #007bff; 
    text-transform: uppercase; 
  }
  