.verticalNav {
    position: absolute;
    right: 1%;
    bottom: 8%; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 40px;
    z-index: 10; 
}

.navItem {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease;
}

.navItem:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.icon {
    color: white;
    font-size: 36px;
    transition: transform 0.3s ease;
}

.navItem:hover .icon {
    transform: scale(1.2);
}

.tooltip {
    position: absolute;
    right: 80px; /* Wyświetl tooltip po lewej stronie ikonki */
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.8rem;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.navItem:hover .tooltip {
    opacity: 1;
    visibility: visible;
}

/* Zasadniczo ukryj VerticalNav na mniejszych ekranach */
@media (max-width: 992px) {
    .verticalNav {
        display: none;
    }
}
