.container {
    text-align: center;
    margin: 30px 0 50px;
}

.title {
    font-size: 1.8rem; /* Zwiększony rozmiar czcionki */
    font-weight: bold;
    color: #007bff;
    margin-bottom: 50px; /* Mniejszy odstęp */
}

.axis {
    display: flex;
    align-items: center;
    justify-content: space-around; /* Równomierne rozmieszczenie */
    width: 100%; /* Ustaw szerokość osi */
    /* margin: 0 auto; */
    position: relative;
    height: 6px; /* Większa wysokość osi dla lepszej widoczności */
    background-color: #ccc;
    border-radius: 3px;
    margin-top: 70px;
}

.segment {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: space-between;
    height: 4px;
    flex-grow: 1; /* Równe proporcje dla segmentów */
}

.segment::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    border-radius: 3px; /* Zaokrąglone końce aktywnego segmentu */
}

.active {
    background-color: #007bff; /* Kolor aktywnego segmentu */
    z-index: 1;
}

.label {
    position: absolute;
    top: -35px; /* Większy odstęp nad osią */
    font-size: 1.2rem;
    font-weight: bold;
    color: #555;
    white-space: nowrap;
    text-align: center;
    width: 100%;
}

.segment.active .label {
    color: #007bff;
}


@media (min-width: 768px) {
    .title {
        font-size: 2.2rem;
    }

    .label {
        font-size: 1.6rem;
    }

    .segment {
        height: 6px;
    }
}

@media (min-width: 992px) {
    .title {
        font-size: 2.5rem;
        margin-bottom: 70px;
    }

    .label {
        font-size: 2rem;
    }

    .segment {
        height: 8px;
    }
}