.container {
    text-align: center;
    margin: 30px 0 50px;
}

.title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 50px; 
}

.axis {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%; 
    position: relative;
    height: 6px;
    background-color: #ccc;
    border-radius: 3px;
    margin-top: 70px;
}

.segment {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: space-between;
    height: 4px;
    flex-grow: 1;
}

.segment::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    border-radius: 3px;
}

.active {
    background-color: #007bff; 
    z-index: 1;
}

.label {
    position: absolute;
    top: -35px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #555;
    white-space: nowrap;
    text-align: center;
    width: 100%;
}

.segment.active .label {
    color: #007bff;
}


@media (min-width: 768px) {
    .title {
        font-size: 2.2rem;
    }

    .label {
        font-size: 1.6rem;
    }

    .segment {
        height: 6px;
    }
}

@media (min-width: 992px) {
    .title {
        font-size: 2.5rem;
        margin-bottom: 70px;
    }

    .label {
        font-size: 2rem;
    }

    .segment {
        height: 8px;
    }
}