.summary {
    min-height: 100vh;
    width: 100vw;
  }

.container {
    margin: 20px 0;
}

.title {
    text-align: center;
    font-size: 2.2rem;
    padding: 10px;
}

.routeDetails {
    font-size: 16px;
    margin: 10px 0;
    box-shadow: 0 2px 15px #646464;
    border-radius: 10px;
    padding: 20px;
}

.routeDetails p {
    color: #007bff;
    font-weight: bold;
    margin: 15px 0;
}

.routeDetails strong {
    color: #000;
    font-weight: 400;
}

h2 {
    text-align: center;
    font-size: 2.2rem;
    padding: 10px;
}

.participantCard {
    border-radius: 10px;
    overflow: hidden;
    height: 500px;
}

.participantName {
    background-color: #007bff;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    text-align: center;
}

.participantImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 992px) {
    .container {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .participantCard {
        height: 450px;
    }

    .details {
        flex-basis: 25%;
        /* max-width: 500px; */
    }

    .cards {
        flex-basis: 75%;
    }
}

.multimediaSection h2 {
    border-top: 2px solid #007bff;
    border-bottom: 2px solid #007bff;
    margin: 30px 0;
}

.addMoreButton {
    background-color: #007bff;
    width: 100%;
    font-size: 1.6rem;
    color: #fff;
}

.multimediaSection {
    margin-bottom: 30px;
}

@media (min-width: 768px) {
    .multimediaContainer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .btnContainer {
        display: flex;
        justify-content: flex-end;
    }

    .addMoreButton {
        width: 300px;
    }
}

/* --- Tytuł z ikonką strzałki dla mobile --- */
.titleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .title {
    text-align: center;
    font-size: 2.2rem;
    padding: 10px;
  }
  
  .arrowMobile {
    position: absolute;
    right: 10px;
    /* font-size: 1.8rem; */
    color: #007bff;
    cursor: pointer;
    display: block;
    font-size: 30px;
  }
  
  .arrowMobile:hover {
    color: #005ea2;
  }
  
  /* --- Strzałka przy Flight dla desktop --- */
  .flightHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .flightHeader h2 {
    text-align: center;
    font-size: 2.2rem;
    padding: 10px;
  }
  
  .arrowDesktop {
    position: absolute;
    right: 10px;
    /* font-size: 1.8rem; */
    color: #007bff;
    cursor: pointer;
    display: none;
    font-size: 30px
  }
  
  .arrowDesktop:hover {
    color: #005ea2;
  }

  /* --- Desktop - Strzałka tylko w Flight --- */
@media (min-width: 992px) {
    .arrowMobile {
      display: none;
      
    }
  
    .arrowDesktop {
      display: block;
    }
  
    .titleContainer .title {
      text-align: center;
    }
  }