.container {
    position: relative;
    width: 100%;
    background-color: #fff;

    @media (min-width: 992px) {
        min-width: 400px;
    }
}

.arrow {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 calc(20px - 1rem);
}

.icon {
    font-size: 2.4rem;
    color: gray;
    text-align: right;
    padding: 1rem;
    transition: color .3s;
    cursor: pointer;

    &:hover {
        color: #007bff;
    }
}