/* Formularz */
.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
 /* Zapobiega zbyt szerokiemu rozciąganiu formularza */
  margin: 0 auto;
  box-shadow: 0 2px 15px #6464;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.inputWrapper:first-child {
  flex: 3;
}

.inputWrapper:nth-child(2),
.inputWrapper:nth-child(3) {
  flex: 1.5; /* 'Check in' i 'Check out' są mniejsze */
}

.inputWrapper:nth-child(4),
.inputWrapper:nth-child(5) {
  flex: 1; /* 'Guests' i 'Rooms' zajmują najmniej miejsca */
}

.inputNumber {
  width: 100%;
}


.label {
  font-size: 16px;
}

.input {
  padding: 8px;
  font-size: 16px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 39px;
  width: 100%;
}

.button {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  /* height: 100%; */

}

@media (min-width: 992px) {
  .form {
      flex-direction: row;
      justify-content: space-between;
      /* width: 100%; */
      margin: 2rem 0;
  }

  .inputWrapper {
      width: 100%;
  }

  .inputWrapper:first-child {
    flex: 3; /* 'City' zachowuje większą szerokość */
  }

  .inputWrapper:nth-child(2),
  .inputWrapper:nth-child(3) {
    flex: 1.5; /* 'Check in' i 'Check out' są mniejsze */
  }

  .inputWrapper:nth-child(4),
  .inputWrapper:nth-child(5) {
    flex: 1; /* 'Guests' i 'Rooms' są najmniejsze */
  }

  /* Przyciski */
  .btn {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      margin: 5px;
      min-width: 100px;
      margin: 5px 0;
  }
}
