/* Formularz */
.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 90%;
 /* Zapobiega zbyt szerokiemu rozciąganiu formularza */
  margin: 0 auto;
  box-shadow: 0 2px 15px #6464;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
}

.inputNumber {
  width: 100%;
}


.label {
  font-size: 16px;
}

.input {
  padding: 8px;
  font-size: 16px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 39px;
}

.button {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  /* height: 100%; */

}

@media (min-width: 992px) {
  .form {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      margin: 2rem 0;
  }

  .inputWrapper {
      width: 100%;
  }

  /* Przyciski */
  .btn {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      margin: 5px;
      min-width: 120px;
      margin: 5px 0;
  }
}
