.navLinks {
    display: none;
    gap: 20px;
  }
  
  .link {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 1.5rem;
    display: inline-block;
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out; 
  }
  
  .link:hover,
  .link:focus,
  .link:active {
    color: #fff;
    text-decoration: none;
    transform: translateY(-3px);
  }

@media (min-width: 768px) {
    .navLinks {
        display: block;
    }
}

@media (min-width: 1024px) {
    .link {
        font-size: 18px;
        padding: 2rem;
    }
}
  